[submodule "producerconsumer"]
	path = producerconsumer
	url = https://github.com/abitofhelp/producerconsumer.git
[submodule "motominderapi"]
	path = motominderapi
	url = https://github.com/abitofhelp/motominderapi.git
[submodule "go-astream-file-between-goroutines-with-refcntpool"]
	path = go-astream-file-between-goroutines-with-refcntpool
	url = https://gist.github.com/b5f3eebf7e316b96b2cdc4188db2d742.git
[submodule "go-stream-file-between-goroutines-with-pipe"]
	path = go-stream-file-between-goroutines-with-pipe
	url = https://gist.github.com/40d22fd85fdd6b412b4527ba5bc54a48.git
[submodule "go-stream-file-between-goroutines-with-channel"]
	path = go-stream-file-between-goroutines-with-channel
	url = https://gist.github.com/5ff65b14ac030cffed0cbdeac6ba8449.git
[submodule "go-many-to-many-buffered-channel"]
	path = go-many-to-many-buffered-channel
	url = https://gist.github.com/0af1ac31c6a5c18987d630c82838e47d.git
