[submodule "producerconsumer"]
	path = producerconsumer
	url = https://github.com/abitofhelp/producerconsumer.git
[submodule "motominderapi"]
	path = motominderapi
	url = https://github.com/abitofhelp/motominderapi.git
[submodule "go-astream-file-between-goroutines-with-refcntpool"]
	path = go-astream-file-between-goroutines-with-refcntpool
	url = https://gist.github.com/b5f3eebf7e316b96b2cdc4188db2d742.git
[submodule "go-stream-file-between-goroutines-with-linux-pipe"]
	path = go-stream-file-between-goroutines-with-linux-pipe
	url = https://gist.github.com/3e6ed3487519217b09281815aced2af9.git
